@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

.denied {
  padding: 15% 0;
}
.denied .title {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  font-family: "Lilita One", cursive;
  color: #ddd;
}

.denied img {
  width: 60%;
}

@media (min-width: 576px) {
  .denied .title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 768px) {
  .denied .title {
    /* font-size: 2rem; */
    margin-bottom: 2rem;
  }
}

@media (min-width: 992px) {
  .denied {
    padding: 10% 0;
  }
  .denied .title {
    font-size: 2rem;
  }

  .denied img {
    width: 40%;
  }
}
