.footer{
    background: #1A2930;
    font-size: 16px;
    color:white;
    width: 100%;
    padding: 2% 2%;
}

.footerInfoContato{
    border-bottom: dotted 2px #FFFFFF;
    padding-bottom: 20px;
}

.footer p:last-child {
    margin: 0;
}