.headerNavBar {
    background: linear-gradient(304.8deg, #7C63BE 29.5%, #282694 80.89%);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}

.headerNavLink {
    color: #ffffff !important;
}

.headerNavLink:hover {
    color: #b33add !important;
    text-decoration: underline;
}

.form-control{
    border-radius: 10px;
}

.headerSearchButton {
    background-color: #d17894;
}

.fa-search {
    margin: 0 auto;
}
