@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
.linksNav{
    color: inherit;
    text-decoration: none;
}

.headerLogo{
    width: 75px;
    height: 75px;
}

.headerNavBar {
    background-color: #0A1612;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    height: 100px;
    font-family: 'Lilita One', cursive;
    margin: 20px solid #0c1a15;
}

.headerNavLink {
    color: #ffffff !important;
    font-size: 22px;
}

.headerNavLink:hover {
    color: #C5C1C0 !important;
    text-decoration: none;
}

.form-control{
    border-radius: 10px;
}

.headerSearchButton {
    background-color: #F7CE3E;
    border: none;
}

.headerSearchButton:hover {
    background-color: #C5C1C0;
}

.linksNav:hover{
    color: inherit;
    text-decoration: none;
}

.headerLogo:hover{
    transition: 0.1s;
    filter: invert(77%) sepia(49%) saturate(16%) hue-rotate(325deg) brightness(98%) contrast(76%);
}

.fa-search {
    margin: 0 auto;
}
