@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
.home{
    background-color: #0c1a15;;
}

.homeSectionOne {
    height: 550px;
    background-image:url('../imgs/banner.PNG');
    background-repeat:no-repeat;
    background-size:cover;
    border-bottom: solid 2px #0A1612;
}

.homeSectionTwo {
    background-color: #0c1a15;
    margin: 5vw;
    font-family: 'Lilita One', cursive;
    font-size: 24px;
    text-align: center;
    color: white;
}

.homeCommended {
    background-color: #F7CE3E;
    border-top: solid 2px #0A1612;
    border-bottom: solid 2px #0A1612;
}

.homeSectionsMargin {
    margin: 12vh 0;
}

.homeSectionsH2 {
    color: #1A2930;
    font-size: 30px;
    margin: 3vh 5vw;
}

.homeSectionsDiv {
    margin: 5vh 5vw;
    overflow-x: scroll;
    background-color: #C5C1C0;
}