.prodRegistration {
  padding: 5% 10%;
}

.prodRegistration .formRegister{
  padding: 1% 2%;
  background-color: #F7CE3E !important;
  border-radius: 5px !important;

}

.prodRegistration button {
  width: 33% !important;
}


@media (min-width: 576px) {
  .groupImage {
    width: 100%;
  }
  .groupNameProduct,
  .groupDescription,
  .groupPrice,
  .groupStock {
    width: 49.5%;
  }

  .groupNameProduct,
  .groupPrice {
    margin-right: 1%;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}
