.signup {
  padding: 5% 10%;
}

.signup #uncontrolled-tab-example-tab-cliente,
.signup #uncontrolled-tab-example-tab-fornecedor {
  max-width: 200px;
  text-align: center;
}

.signup .formProvider,
.signup .formClient {
  background-color: #f7ce3e !important;
  max-width: 600px;
  max-width: 400px;
  margin: 0 auto;
}

.signup .formTitle {
  text-align: center;
  font-size: 1rem;
  padding: 0 10%;
}

.signup .form-group input,
.signup .form-group,
.signup .btn {
  border-radius: 10px;
}

.signup .btn {
  width: 40%;
  margin: 0 30%;
}

.signup .btn ~ * {
  text-align: center;
}

@media (min-width: 576px) {
  .signup .form-group input,
  .signup .form-group,
  .signup .btn {
    width: 75%;
    margin: 0 12.5% 1rem;
  }
}
